<!DOCTYPE html>
<html>
  <head>
    <title>My Pokemanz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script2.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <br>
        <br>
        <img src="http://i2.kym-cdn.com/photos/images/newsfeed/000/001/023/4A3WG3NACXH63ZDCNOM4PE2GJIYZNBT7.jpg" class="pokemans"/>
        <br>
        <br>
        <div>
          <button class="btn-primary btn-block get-pokemon-button">Let Me Show You Them</button>
        </div>
        <div>
          <button class="btn-primary btn-block display-create-form-button">Give Me a Pokémon Instead</button>
        </div>
        <form class="create-pokemon-form">
          <b>Name:</b> <input class="form-control new-pokemon-name" type="text"/>
          <br>
          <b>Pokedex Number:</b> <input class="form-control new-pokemon-number" type="text"/>
          <br>
          <b>Evolves From:</b> <input class="form-control new-pokemon-evolves-from" type="text"/>
          <br>
          <b>Image URL:</b> <input class="form-control new-pokemon-image" type="text"/>
          <br>
          <button class="submit-button create-pokemon-button" type="submit">SUBMIT</button>
        </form>
      </nav>
      <div class="panel panel-default">
        <ul class="list-group">
          <!-- your resource items here -->
        </ul>
      </div>
    </div>
  </body>
</html>
