<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <!-- <a class="navbar-brand" href="/">Mutably Front-end</a> -->
        <br>
        <br>
        <img src="http://i2.kym-cdn.com/photos/images/newsfeed/000/001/023/4A3WG3NACXH63ZDCNOM4PE2GJIYZNBT7.jpg" class="pokemans"/>
        <br>
        <br>
        <div class="get-pokemon-button">
          <button>Let Me Show You Them</button>
        </div>
        <div class="create-pokemon-button">
          <button>Give Me a Pokémon</button>
        </div>
        <form class="create-pokemon-form">
          <b>Name:</b> <input class="submitted-name" type="text"/>
          <br>
          <b>Pokedex Number:</b> <input class="submitted-pokedex-num" type="text"/>
          <br>
          <b>Evolves From:</b> <input class="submitted-evolves-from" type="text"/>
          <br>
          <b>Image URL:</b> <input class="submitted-image-url" type="text"/>
          <br>
          <button class="submit-button" type="submit">SUBMIT</button>
        </form>
      </nav>
      <div class="panel panel-default">
        <ul class="list-group">
          <!-- your resource items here -->
        </ul>
      </div>
    </div>
  </body>
</html>
