ul{
  list-style: none;
}

img.pokemans {
  width:400px;
  height:400px;
  display: block;
  margin: 0 auto;
}

.get-pokemon{
  text-align: center;
}

.create-pokemon-button{
  text-align: center;
}

.create-pokemon-form{
  display: none;
}

.data-id{
  display: none;
}

.edit-pokemon{
  display: none;
}

.save-button{
  background-color: rgb(109, 204, 26);
}
