ul{
  list-style: none;
}

img.pokemans {
  width:400px;
  height:400px;
  display: block;
  margin: 0 auto;
}

.get-pokemon-button{
  text-align: center;
}

.create-pokemon-button{
  text-align: center;
}

.create-pokemon-form{
  display: none;
}

.data-id{
  display: none;
}

.edit-button{
  background-color: rgb(43, 216, 227);
}

.edit-pokemon{
  display: none;
}

.delete-button{
  background-color: rgb(217, 36, 4);
}

.save-button{
  background-color: rgb(109, 204, 26);
}
