ul{
  list-style: none;
}

img.pokemans {
  width:400px;
  height:320px;
  display: block;
  margin-left: 70px;
}

.container{
  background-color: black;
}

.navbar{
  background-color: black;
  border: none;
}

.panel{
  background-color: black;
  border: none;
}

p{
  color: white;
}

b{
  color: yellow;
  text-shadow: 2px 2px blue;
}

.btn-primary{
  background-color: red;
  border: 4px solid black;
  margin-bottom: 2px;
}

.btn-primary:hover{
  background-color: white;
  color: black;
}

.btn-primary:not(:hover){
  background-color: red;
  border: 4px solid black;
  margin-bottom: 2px;
}

.get-pokemon-button{
  text-align: center;
  border-radius: 6px;
  width: 597px;
}

.create-pokemon-button{
  text-align: center;
  border-radius: 6px;
  width: 560px;
}

.create-pokemon-form{
  display: none;
}

.data-id{
  display: none;
}

.edit-button{
  background-color: rgb(43, 216, 227);
  margin-top: 10px;
  margin-right: 100px;
}

.pokemon-image{
  width:236px;
  height:208px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 100px;
  margin-right: 100px;
}

.view-pokemon-info{
  display: inline-block;
  vertical-align: middle;
}

.edit-pokemon-form{
  display: none;
}

.delete-button{
  display: none;
  margin-top: 10px;
}

.save-button{
  margin-top: 10px;
}

.cancel-button{
  display:none;
  margin-top: 10px;
}
